[submodule "packages/openapi/domain-repos/@services/draft-services"]
	path = packages/openapi/domain-repos/@services/draft-services
	url = https://github.com/ONDC-Official/ONDC-SRV-Specifications
	branch = draft-services
[submodule "apps/backend/domain-repos/@services/draft-services"]
	path = apps/backend/domain-repos/@services/draft-services
	url = https://github.com/ONDC-Official/ONDC-SRV-Specifications
	branch = draft-services
[submodule "apps/backend/domain-repos/@retail-b2b/release-2.0.2"]
	path = apps/backend/domain-repos/@retail-b2b/release-2.0.2
	url = https://github.com/ONDC-Official/ONDC-RET-Specifications
	branch = release-2.0.2
[submodule "packages/openapi/domain-repos/@retail-b2b/release-2.0.2"]
	path = packages/openapi/domain-repos/@retail-b2b/release-2.0.2
	url = https://github.com/ONDC-Official/ONDC-RET-Specifications
	branch = release-2.0.2
